@model QLHOLIDAYPARTY.Models.FOOD
@{
    ViewBag.Title = "Done!";
}
<h2>Done!</h2>
<h3>Name: @Model.Name</h3>
<h3>Contect: @Model.Phone</h3>
<h3 >Email: @Model.Dish</h3>
<h3>Description: @Model.Desc</h3>
<br />
<h3>Special Options: @Model.Options</h3>
<br />